body { 
    font-family: 'Muli', sans-serif;
    background: #E6E6E6; 
}

a, h1, h2, h3 { 
    color: #5F3711; 
}
/*
Color set:
#5F3711
#D4C098
#F6F6E2
*/


a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: underline;}


h1 { 
    border-bottom: 2px solid #F6F6E2; 
}

h3 {
    margin: 0 0 0.5em 0;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.page { 
    margin: 2em auto; 
    max-width: 50em; 
    padding: 1.5em; 
    padding-bottom: 4em;
    background: white; 
}

section {
    margin-top: 3em;
}

article {
    text-align: justify;
}

ul {
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
}

.entries {  
    margin: 0; 
    padding: 0;
}

.entries li {
    border: 2px solid #F6F6E2;
    padding: 1em 1em 2em 1em;
    margin-bottom: 0.5em;
}

.info {
    float: right;
    color: #D4C098;
}

.date {
    float: right;
}

.milestone {
    margin-bottom: 1.5em;
}

.options {

}

.msoptions {
    margin: 1em 0 1em 1em;
}

footer {
    font-size: 0.6em;
    color: #D4C098;
    text-align: center;
}

footer > a {
    color: #D4C098;
}

#login {
    display: table-caption;
}

.tags {
    font-size: 0.7em;
}

/* Flushed msgs */

.message { 
    color: #5F3711;
    background: #F6F6E2; 
    padding: 0.5em;
    border: 2px solid #D4C098; 
}

div .error, p .error { 
    background: #F0D6D6; 
    padding: 0.5em;
    border: 2px solid #D4C098; 
}


/* Searchbar */

.searchbar {
    float: right;
    margin-top: 0.5em;
}

.searchbar a, .searchbar form {
    display: inline;
}

#searchbutton {
    width: 1.5em;
}

/* Navi */

.navtoggle
{
    display: none;
}

nav li
{
    width: 33.3%;    
    float: left;
    text-align: center;
    margin-top: -1em;
}

.mobileonly {
    display: none;
}

/* Tweet Button */
.custom-tweet-button {
    width: 55px;
    float: left;
}  

.custom-tweet-button a {
    position: relative;
    display: inline-block;
    height: 16px;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: bold;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear,left top,left     bottom,from(#FFF),to(#DEDEDE));
    background-image: -moz-linear-gradient(top,#FFF,#DEDEDE);
    background-image: -o-linear-gradient(top,#FFF,#DEDEDE);
    background-image: -ms-linear-gradient(top,#FFF,#DEDEDE);
    border: #CCC solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.custom-tweet-button a:hover {
    border-color: #BBB;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#D9D9D9));
    background-image: -moz-linear-gradient(top,#F8F8F8,#D9D9D9);
    background-image: -o-linear-gradient(top,#F8F8F8,#D9D9D9);
    background-image: -ms-linear-gradient(top,#F8F8F8,#D9D9D9);
    background-image: linear-gradient(top,#F8F8F8,#D9D9D9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.custom-tweet-button a .btn-icon {
    position: absolute;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 3px;
    margin-top: -6px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}
.custom-tweet-button a .btn-text {
    display: inline-block;
    padding: 1px 3px 0 20px;
}

/* Reddit Button */
.redditbutton {
    font-size: 11px;
    margin-left: 1em;
}

.redditbutton img {
    height: 20px;
}

/* FB Button */
.FBpluginButton{float:left; margin-left: 1em; font-size:11px;width: 55px;background:#4c69ba;background:-webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));background:-webkit-linear-gradient(#4c69ba, #3b55a0);border:none;-webkit-border-radius:2px;color:#fff;cursor:pointer;font-weight:bold;height:20px;line-height:20px;padding:0;text-shadow:0 -1px 0 #354c8c;white-space:nowrap}
.FBpluginButton button{background:transparent;border:0;color:inherit;cursor:pointer;font:inherit;font-weight:bold;margin:-1px;outline:none;padding:0;text-shadow:0 -1px 0 #354c8c}
.FBpluginButtonIcon{height:14px;left:0;margin:0 4px 0 4px;position:relative;top:3px;vertical-align:top;width:14px}
.FBpluginButtonImage{display:inline-block}
.FBpluginButtonContainer{-webkit-font-smoothing:antialiased}
.FBpluginButton .FBpluginButtonLabel{padding:0 5px 0 0;position:relative;vertical-align:top}
.FBpluginButton:hover{background:#5b7bd5;background:-webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));background:-webkit-linear-gradient(#5b7bd5, #4864b1);border-color:#5874c3 #4961a8 #41599f;-webkit-box-shadow:inset 0 0 1px #607fd6}
.sp_plugin-button{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/LVx-xkvaJ0b.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_plugin-button_favblue{background-position:0 -42px}

/* Mobile Style */
@media only screen and ( max-width: 40em )
{
    .searchbar {
        display: none;
    }
    .mobileonly {
        display: block;
    }

    #nav > a
        {
	    width: 3.5em; /* 50 */
	    height: 3.5em; /* 50 */
	    text-align: left;
	    text-indent: -9999px;
	    background-color: #5F3711;
	    position: fixed;
        bottom: 0;
        left: 0;
    }
    #nav > a:before,
    #nav > a:after
    {
        position: absolute;
        border: 2px solid #F0D6D6;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }
    #nav > a:after
    {
        top: 60%;
    }

    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
	    display: inline-block;
    }


    /* first level */

    #nav > ul
    {
	    display: none;
	    position: fixed;
	    left: 4em;
	    bottom: 0;
        padding: 0;
        margin: 0;
    }
    #nav:target > ul
    {
	    display: block;
    }
    #nav > ul > li
    {
	    width: 100%;
        height: 1em;
        background: #5F3711;
	    float: none;
        margin-top: 0.5em;
        padding: 0.6em 1em 0.8em 1em;
        font-size: 1.5em;
    }
    #nav > ul > li > a
    {
        color: #F0D6D6;
    }

    
}

/**************/
