﻿{% extends "layout.html" %}
{% block title %}Unauthorized{% endblock %}
{% block body %}
<section>
  <h2>401 - Unauthorized</h2>
  <p>You are not allowed to see this page, so better...
  <p><a href="{{ url_for('index') }}">...go somewhere nice</a>
</section>
{% endblock %}