﻿{% extends "layout.html" %}
{% block title %}Forbidden{% endblock %}
{% block body %}
<section>
  <h2>403 - Forbidden</h2>
  <p>You have no right to be here! Better...
  <p><a href="{{ url_for('index') }}">...go somewhere nice</a>
</section>
{% endblock %}