﻿{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
<section>
  <h2>404 - Page Not Found</h2>
  <p>What you were looking for is just not there. Maybe look elsewhere. Just...
  <p><a href="{{ url_for('index') }}">...go somewhere nice</a>
</section>
{% endblock %}