{% extends "layout.html" %}
{% block body %}

    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <section>
        <h2>Concerning me...</h2>
        <article>
            <p>
            Hello! My name is Clemens Meinhart, and I am a software engineer. I am mostly interested in web science, network analysis, large scale data analysis, web development, computer graphics and vision (which sums up the major of my studies), but since I am at the beginnings of my career I am open for almost anything related and eager to learn new stuff. During my studies of <em>Software Development and Business Management</em> I did some research for the <a href="http://kti.tugraz.at/" target="_blank" title="KTI TU Graz">Knowledge Technologies Institute</a> at <a href="http://tugraz.at" target="_blank" title="TU Graz"> Graz University of Technology</a>. It consisted of network and language pattern analysis on <a href="http://wikipedia.org" target="_blank" title="Wikipedia">Wikipedia</a>, and structural analysis of <a href="http://reddit.com" target="_blank" title="reddit">reddit</a> published in the paper <em><a href="http://arxiv.org/abs/1402.1386" target="_blank" title="Evolution of Reddit: From the Front Page of the Internet to a Self-referential Community?">Evolution of Reddit: From the Front Page of the Internet to a Self-referential Community?</a></em> at the <a href="http://www2014.kr/" target="_blank" title="WWW2014">23<sup>rd</sup> International World Wide Web Conference</a> in Seoul, Korea.
            </p>
        </article>
        
        <h2>Concerning contacting...</h2>
        <article>
            <p>
            Feel free to contact me anytime via <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#46;&#109;&#101;&#105;&#110;&#104;&#97;&#114;&#116;&#64;&#103;&#109;&#120;&#46;&#110;&#101;&#116;'>email</a> or <a href='http://at.linkedin.com/pub/clemens-meinhart/93/272/281/'  target="_blank">LinkedIn</a>.
            </p>
        </article>
        
        <h2>Concerning this website...</h2>
        <article>
            <p>
            This website is basically a microblog, where I scribble about matters that I am currently keeping myself busy with, and a profile, listing some <em>milestones</em> in education and employment, much like a shortened curriculum vitae. It uses the Python microframework <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, and can be forked on <a href="https://github.com/CMThF/microblog" target="_blank">github</a>.
            </p>
        </article>
    </section>

{% endblock %}
