﻿{% extends "layout.html" %}
{% block body %}
<section>
{% if session.logged_in %}
    <form id="create" action="{{ url_for('add_entry') }}" method=post class="add-entry" accept-charset="utf-8" enctype="multipart/form-data">
        <fieldset>
        <legend>Create Entry</legend>
        <ul>
            <li> <label for="title">Title:</label>
            <input type="text" name="title" size="60" />
            </li>
            
            <li> <label for="text">Text:</label>
            <textarea name="text" cols="60" rows="20" /></textarea>
            </li>

            <li> <label for="tags">Tags:</label>
            <input type="text" name="tags" size="60" />
            </li>

            <li><label for="submit"> </label>
            <input type="submit" value="Submit"><input type="Reset" /> 
            </li>
        </ul>
        </fieldset>
    </form>
{% endif %}
</section>
{% endblock %}
