﻿{% extends "layout.html" %}
{% block body %}
<section>
    {% if session.logged_in %}
    
    <form id="edit" action="{{ url_for('edit_entry', entrytitle=entry.title) }}" method=post class=add-entry accept-charset="utf-8" enctype="multipart/form-data">
        <fieldset>
            <legend>Edit Entry</legend>
        <ul>
            <li> <label for="title">Title:</label>
            <input type='text' size="60" name="title" value="{{ entry.title }}" />
            </li>
            
            <li> <label for="text">Text:</label>
            <textarea name="text" cols="60" rows="20">{{ entry.entrytext }}</textarea>
            </li>
            
            <li> <label for="tags">Tags:</label>
            <input type="text" name="tags" size="60" value="{% for t in entry.tags %}{{ t.title }}, {% endfor %}" />
            </li>

            <li><label for="submit"> </label>
            <dd><input type="submit" value="Save"><input type="Reset" />
            </li>
        </ul>
        </fieldset>
    </form>
    
  {% endif %}
</section>
{% endblock %}
