﻿{% extends "layout.html" %}
{% block body %}
<section>
    {% if session.logged_in %}
    
    <form id="edit" action="{{ url_for('edited_milestone', milestonetitle=milestone.title) }}" method=post class=add-entry accept-charset="utf-8" enctype="multipart/form-data">
        <fieldset>
            <legend>Edit Milestone</legend>
        <ul>
            <li> <label for="title">Title:</label>
            <input type='text' size="60" name="title" value="{{ milestone.title }}" />
            </li>
            
            <li> <label for="text">Text:</label>
            <textarea name="text" cols="60" rows="20">{{ milestone.milestonetext }}</textarea>
            </li>
            
            <li> <label for="title">Timespan:</label>
            <input type="text" name="timespan" size="60" value="{{ milestone.timespan }}" />
            </li>
            
            <li><label for="submit"> </label>
            <dd><input type="submit" value="Save"><input type="Reset" />
            </li>
        </ul>
        </fieldset>
    </form>
    
  {% endif %}
</section>
{% endblock %}
