<!doctype html>
<meta charset="utf-8">
<meta name="description" content="Personal homepage of Clemens Meinhart">
<meta name="author" content="Clemens Meinhart">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<title>Clemens Meinhart</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Muli:400,400italic' rel='stylesheet' type='text/css'>

<div id=wrapper>
    <div class=page>
        <header>
            <div class=searchbar>
                {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
                <form id="search" action="{{ url_for('search') }}" method=post accept-charset="utf-8">
                  <input type=text name="searchbar">
                </form>
            </div>

            <h1><a href="{{ url_for('show_entries') }}">Clemens Meinhart</a></h1>
            <nav id="nav">
                <a class="navtoggle" href="#nav" title="Show Menu">Menu</a>
                <a class="navtoggle" href="#" title="Hide Menu">Hide menu</a>
                <ul>
                    <li><a href="{{ url_for('show_entries') }}">Scribblings</a></li>
                    <li><a href="{{ url_for('show_milestones') }}">Milestones</a></li>     
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li class="mobileonly"><a href="{{ url_for('searchsite') }}">Search</a></li>
                </ul> 
            </nav>
        
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}

            {% endif %}
            {% endwith %}   
        </header>
      {% block body %}{% endblock %}
    </div>
    <footer>&#169; <script>document.write(new Date().getFullYear())</script> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#46;&#109;&#101;&#105;&#110;&#104;&#97;&#114;&#116;&#64;&#103;&#109;&#120;&#46;&#110;&#101;&#116;'>Clemens Meinhart</a> | {% if session.logged_in %}<a href="{{ url_for('logout') }}">sign out</a>{% else %}<a href="{{ url_for('login') }}">sign in</a>{% endif %}</footer>
</div>
