{% extends "layout.html" %}
{% block body %}

{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<section>
<form id="login" action="{{ url_for('login') }}" method=post>
    <fieldset>
    <legend>Login</legend>
    <ul>
        <li><label for="username">Name</label>
        <input type=text name="username">
        </li>
        <li><label for="password">Password</label>
        <input type=password name="password">
        </li>
        <li><label for ="submit"> </label>
        <input type=submit value="Login">
        </li>
    </ul>
    </fieldset>
</form>
</section>
{% endblock %}
