﻿{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Search</h2>
        <div class=searchsite>
            <form id="search" action="{{ url_for('search') }}" method=post accept-charset="utf-8">
              <input type=text name="searchbar">
            </form>
        </div>
    </section>
{% endblock %}
