﻿{% extends "layout.html" %}
{% block body %}
<section>
<div class=entries>
<h2>{{ entry.title }}</h2>    
    <article> 
    {{ entry.entrytext|safe }} 

    <!-- tweet button -->
    <div class="custom-tweet-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="CMThF" data-count="none" data-text="Check out: "><i class="btn-icon"></i><span class="btn-text">Tweet</span></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <!-- FB share button -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('show_entry', entrytitle=entry.title) }}" target="_blank">
    <div class="FBpluginButton"><div><div class="FBpluginButtonContainer"><div class="FBpluginButtonImage"><button type="submit"><i class="FBpluginButtonIcon img sp_plugin-button sx_plugin-button_favblue"></i><span class="FBpluginButtonLabel">Share</span></button></div></div></div></div></a>
    <!-- Reddit button -->
    <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" class=redditbutton> <img src="http://www.reddit.com/static/spreddit1.gif" alt="submit to reddit" border="0" /> </a>


    <div class="info">
        <div class=tags>
            Tags: 
            {% for t in entry.tags %}
                <a href="{{ url_for('show_tag', tagtitle=t.title) }}">{{ t.title }}</a> 
            {% endfor %}
        </div>
        <div class=date>{{ entry.last_change.strftime('%Y-%m-%d')|safe }}</div>
        

        {% if session.logged_in %}
            <div class=options>
                <a href="{{ url_for('delete_entry', entrytitle=entry.title) }}">Delete</a> 
                <a href="{{ url_for('editmode', entrytitle=entry.title) }}">Edit</a>
            </div>
        {% endif %}
    </div>
    </article>

</div>
</section>
{% endblock %}
