{% extends "layout.html" %}
{% block body %}
  
    <section>
        <h2>Scribblings</h2>
        {% if session.logged_in %}
            <a id="create_entry" href="{{ url_for('create_entry') }}">Create Entry</a>
        {% endif %}
        <ul class=entries>
            {% for entry in entries %}
                <li><article class="entry">
                    <h3><a href="{{ url_for('show_entry', entrytitle=entry.title) }}">{{ entry.title|safe }}</a></h3>
                    {{ entry.entrytext|safe }}
                    <div class="info">
                        <div class=date>{{ entry.last_change.strftime('%Y-%m-%d')|safe }}</div>
                        {% if session.logged_in %}
                            <div class=options>
                                <a href="{{ url_for('delete_entry', entrytitle=entry.title) }}">Delete</a>
                                <a href="{{ url_for('editmode', entrytitle=entry.title) }}">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                </article></li>
            {% else %}
                <li><em>Unbelievable. No entries here so far.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
