{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Milestones</h2>
        {% if session.logged_in %}
            <a id="create_milestone" href="{{ url_for('create_milestone') }}">Create Milestone</a>
        {% endif %}
        <ul class=milestones>
            {% for milestone in milestones %}
                <li><article class="milestone">
                    <div class=timespan>{{ milestone.timespan|safe }}</div>
                    <h3>{{ milestone.title }}</h3>
                    <div class="info">
                        <span>
                        {% if session.logged_in %}
                            <div class=msoptions>
                                <a href="{{ url_for('delete_milestone', milestonetitle=milestone.title) }}">Delete</a> 
                                <a href="{{ url_for('edit_milestone', milestonetitle=milestone.title) }}">Edit</a>
                                <a href="{{ url_for('milestone_up', milestonetitle=milestone.title) }}">Up</a> 
                                <a href="{{ url_for('milestone_down', milestonetitle=milestone.title) }}">Down</a>
                            </div>
                        {% endif %}
                        </span>
                    </div>                    
                    <div class="text">
                        {{ milestone.milestonetext|safe }}
                    </div> 
                </article></li>
            {% else %}
                <li><em>Unbelievable. No milestones here so far.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
